<nav class="header">
    <div class="class nav-wrapper container">
        <h1>
            <a href="/profile" class="brand-logo center"> 
            SpellWell
        </a>
        </h1>
    </div>
</nav>
