html{
    color: #5b4737 !important;
}

p{
    color: #5b4737!important;
    /* margin: 10px !important; */
}

h3{
    margin: 0;
    color: #5b4737!important;
}

.container{
    width: 100% !important;
    height: 100vh !important;
}

.Hogwarts{
    background: #ebca96 !important;
}

.home{
    margin: 3rem auto;
}



.bold{
    font-weight: 700 !important;
}

.img_fit{
    margin-bottom: 0 !important;
}
/* Buttons */
.fa-small{
    font-size: 16px !important;
}

.btn-float{
    left: 23px !important;
}
 
.header{
    background:#5b4737 !important;
}

/* _header */

.header a{
    color:#ebca96 !important;
}


/* Nav */

.sidenav{
    background:#5b4737 !important;
}

.sidenav> li:hover{
    background:#3b2f24 !important;
}


/* Forms */
input{
    border-color: #3b2f24 !important;
}

input:focus{
    border-bottom: 1px solid #3b2f24 !important;
    box-shadow: 0 1px 0 0 #3b2f24 !important;
}

dropdown-content li > a, .dropdown-content li > span{
    color: #5b4737 !important;
}

.input-field > label{
    color: #5b4737 !important;

}

/* Tables */
.card{ 
    background-color: #ebca9688;
}

.card-base{
    background: #ffe5a8;
}

/* Home Page */
.hogwarts_crest{
    margin-top:  150px !important;
}

.hogwarts_card:hover{
    background: #212121 !important;
}

.house-card {
    color: #ebca96 !important;
    background: #ebca96;
}

.house-card, .house-card p {
    color: #ebca96 !important;
}

.gryffindor-card{
    padding-bottom: 9px !important;
}

.ravenclaw-card{
    padding-bottom: 22px !important;
}

/* Great Hall */
.gh_room{
    margin: 0 !important;
    background: url(../images/great_hall.jpg) center center no-repeat !important;
    /* background-size: stretch !important; */
}

.gh_title h3{
    color: #3b2f24 !important;
}

.gh_data a, .gh_data span{
   color:#070503;
}

.gh_data thead{
    color: #ebca96;
    text-transform: uppercase ;
}

/* Gryffindor */
.gryffindor:hover{
    background: #740001 !important;
}

    /* Common Room */
.Gryffindor_table{
    margin-left: 40px !important;
}
.Gryffindor_data a, .Gryffindor_data tr{
    color: #740001;
}

.Gryffindor_data th{
    color: #ae0001;
    text-transform: uppercase;
}

.Gryffindor_data{
    background: #740001aa !important;
    border: solid 3px #d3a625 !important;
}

.Gryffindor_room{
    height: inherit;
    background: url(../images/gryffindor.webp) center center fixed no-repeat !important;
    background-size: cover !important;
}

.Gryffindor_name h3{
   color: #d3a625 !important;
}

.Gryffindor_img{
    background: #d3a625 !important;
    border: solid 3px #740001 !important;
}

/* Sytherin */
.slytherin:hover{
    background: #1a472a !important;
}

/* Common Room */
.Slytherin_table{
    margin-left: 40px !important;
}

.Slytherin_data a, .Slytherin_data tr{
    color: #1a472a;
}

.Slytherin_data th{
    color: #2a623d;
    text-transform: uppercase;
}

.Slytherin_data{
    background: #1a472acd  !important;
    border: solid 3px  #5d5d5d !important;
}

.Slytherin_room{
    height: inherit;
    background: url(../images/slytherin.jpg) center center fixed no-repeat !important;
    background-size: cover !important;
}

.Slytherin_name h3{
   color:  #aaa9a9 !important;
}

.Slytherin_img{
    background: #1a472a !important;
    border: solid 3px #5d5d5d !important;
}

/* Hufflepuff */
.hufflepuff:hover{
    color:#3b2f24 !important;
    background: #fff4b1 !important;
} 

    /* Common Room */
.Hufflepuff_table{
    float: right !important;
    margin-right: 40px !important;
}

.Hufflepuff_data a, .Hufflepuff_data tr{
    color: #212121;
}

.Hufflepuff_data th{
    color: #212121;
    text-transform: uppercase;
}

.Hufflepuff_data{
    background: #fff4b1cc !important;
    border: solid 3px #212121 !important;
}

.Hufflepuff_room{
    height: inherit;
    background: url(../images/hufflepuff.jpg) center center fixed no-repeat !important;
    background-size: cover !important;
}

.Hufflepuff_name h3{
   color: #212121 !important;
}

.Hufflepuff_img{
    background: #212121 !important;
    border: solid 3px #fff4b1 !important;
}

/* Ravenclaw */
.ravenclaw:hover{
    background: #0e1a40 !important;
}

    /* Common Room */
.Ravenclaw_table{
    float: right !important;
    margin-right: 40px !important;
}

.Ravenclaw_data a, .Ravenclaw_data tr{
    color: #0e1a40;
}

.Ravenclaw_data th{
    color: #946b2d;
    text-transform: uppercase;
}

.Ravenclaw_data{
    background: #0e1a40aa !important;
    border: solid 3px #946b2d !important;
}

.Ravenclaw_room{
    height: inherit;
    background: url(../images/ravenclaw.webp) center center fixed no-repeat !important;
    background-size: cover !important;
}

.Ravenclaw_name h3{
   color: #946b2d !important;
}

.Ravenclaw_img{
    background: #946b2daa !important;
    border: solid 3px #0e1a40 !important;
}


