<%- include('partials/header') -%>

<main class="container mt-5 ">
  <div class="row m-3 ">
     <div class=" row m-3 justify-content-center bg-primary">
        <h2 class="text-white mt-3">404 </h2>
        <div class=" col-6 mb-3">
           <img src="/imgs/error.png" alt="error image" class="img-fluid"> 
        </div>
         <p class="text-center text-white fs-4">Page Not Found</p>
      </div>  
    <div class="row m-3 gap-2 justify-content-center">
        <a href="/login" class=" col-md-5 btn btn-info fs-4">Go Back</a>
    </div>
  </div>
   
     
</main>
    

<%- include('partials/footer') -%>