<%- include('../partials/header') -%>
    <main class=" m-5  bg-primary rounded">
      <div class="row justify-content-center align-self-center">
        <div class="m-5 card col-8 row justify-content-center align-self-center p-0 shadow">
          <div class=" row justify-content-center align-self-center ">
            <div class="col-md-5 col-sm-5 card-header d-flex row align-items-center justify-content-center bg-info">
              <div>
                <img src="https://res.cloudinary.com/instincdev/image/upload/v1667348501/teacher1_z8pxhe.png" class="img-fluid" alt="teacher sign-in image">
                <h3 class="card-title text-center">Teacher SignUp</h3>
              </div>
            </div>
            <div class="col-md-7 card-body row text-center justify-content-center align-self-center">
                <section class=" mt-3 row justify-content-center align-self-center">
                    <% if (locals.messages.errors) { %>
                        <% messages.errors.forEach( el => { %>
                            <div class="alert alert-danger"><%= el.msg %></div>
                        <% }) %>    
                    <% } %>
                    <% if (locals.messages.info) { %>
                        <% messages.info.forEach( el => { %>
                            <div class="alert alert-info"><%= el.msg %></div>
                        <% }) %>    
                    <% } %>
                    <form action="/teacher/signup" method="POST" class=" row mb-3 justify-content-center align-self-center">
                        <div class="mb-3">
                          <label for="userName" class="form-label">User Name</label>
                              <input type="text" class="form-control" id="userName" name="userName">
                        </div>  
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email Address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="classId" class="form-label">Class ID</label>
                          <input type="text" class="form-control" id="classId" name="classId">
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label">Password</label>
                          <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                        </div>
                        <div class="row gap-2 justify-content-center align-self-center">
                            <button type="submit" class="cpl-md-5 col-sm-6 g-2 btn btn-info">Submit</button>
                        <a href="/" class="col-md-5 col-sm-6 g-2 btn btn-outline-info">Back</a>
                        </div>
                      </form>
                </section>
            </div>
          </div>
        </div>
      </div>
    </main>

<%- include('../partials/footer') -%>